* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-btn button {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    color: #6d6d6d;
    align-self: center;
    cursor: pointer;
    width: 45px;
}

.menu-btn button:hover {
    background-color: #f3f3f3;
    border-radius: 50px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100%;
    align-self: center;
    font-weight: bold;
    font-size: 25px;
    color: #0077cc;
}

.logo span {
    padding: 0 10px;
    align-self: center;
}

.header {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.create-login {
    display: flex;
}

.create-btn {
    display: flex;
    padding: 10px;
    color: #0077cc;
    font-weight: bold;
}

.login-btn,
.upgrade-btn,
.create-btn-icon span,
.create-btn span {
    padding: 10px;
}

.create-btn p {
    padding: 10px 0;
}

.upgrade-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ffbf00;
    color: #000;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.upgrade-btn button:hover {
    background-color: #ecb102;
}

.create-btn-icon {
    align-self: center;
}

.create-btn-icon i,
.login-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-btn-icon i:hover,
.login-btn button:hover {
    background-color: #016cb8;
}

.search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    max-width: 450px;
    width: 100%;
}

.search i {
    color: #6d6d6d;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.search input:focus {
    border-color: #0077cc;
    outline: none;
}

.avatar-user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.avatar-user {
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.avatar-user:hover {
    
}

.user-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 15%;
    display: none;
    z-index: 10;
}

.user-menu-item {
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 600;
}

.user-menu-item:hover {
    background-color: #f0f0f0;
}

.user-menu.show {
    display: block;
}

.user-info {
    display: flex;
    padding: 10px;
}

.user-info div{
    margin-left: 10px
}

.user-info p:first-child {
    font-weight: bold;
}
/*------------------------------------Body*/
.side-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow: hidden;
    transition: width 0.5s ease;
    z-index: 1000;
    margin-top: 60px;
    z-index: 999;
}

.side-bar.minimized {
    width: 70px;
}

/* Văn bản trong sidebar */
.side-bar span {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 15px;
}

.side-bar .home-btn,
.side-bar .history-btn,
.side-bar .blogs-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.side-bar.minimized .home-btn span,
.side-bar.minimized .history-btn span,
.side-bar.minimized .blogs-btn span,
.side-bar.minimized .filter span,
.side-bar.minimized .filter select {
    opacity: 0;
    display: none;
}

.side-bar hr {
    width: 90%;
    align-self: center;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
}

.side-bar.minimized hr {
    width: 80%;
    align-self: center;
}

.home-btn,
.history-btn,
.blogs-btn {
    display: flex;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    color: #333;
}

.home-btn:hover,
.history-btn:hover,
.blogs-btn:hover {
    background-color: #f3f3f3;
    border-radius: 10px;
}

.home-btn a,
.history-btn a,
.blogs-btn a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: #6d6d6d;
    font-size: 16px;
}

.home-btn i,
.history-btn i,
.blogs-btn i,
.filter-header i {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    align-self: center;
    color: #6d6d6d;
}

.filter span {
    color: #6d6d6d;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.filter {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.filter-header {
    display: flex;
}

.filter select {
    width: 95%;
    padding: 10px;
    color: #6d6d6d;
    border: 1px solid #6d6d6d;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    align-self: center;
}

.filter select:focus {
    border-color: #0077cc;
    outline: none;
}

.body {
    display: flex;
    height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 60px 50px;
    margin: 0 60px;
    width: 100%;
}

.recents-container,
.popular-card-container,
.top-creator-container {
    padding: 20px;
    background-color: #fff;
}

.recents-container h2,
.popular-card-container h2,
.top-creator-container h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
}

.recents-list {
    display: flex;
    flex-wrap: wrap;
}

.recents-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.recents-item:hover {
    background-color: #eef2f7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.recents-item > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #cee9fd;
    color: #0083e0;
    margin-right: 10px;
    padding: 20px;
}

.recents-item i {
    font-size: 20px;
    padding: 25px 20px;
}

.recents-item p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
}

.recents-item div div {
    font-size: 14px;
    font-weight: 600;
    color: #718096;
    margin-top: 2px;
}

.flash-card-list,
.top-creator-list {
    display: flex;
    column-gap: 20px;
}

.flash-card-item,
.top-creator-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    height: 100%;
    width: 33%;
    padding: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.flash-card-item:hover,
.top-creator-item:hover {
    background-color: #eef2f7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.flash-card-item > div:first-child p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
    margin-bottom: 5px;
}

.flash-card-item span,
.top-creator-item span {
    background-color: #e8e8e8;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 30px;
}

.flash-card-item > div:last-child{
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.flash-card-item > div:last-child img{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.flash-card-item > div:last-child p{
    align-self: center;
    margin-left: 5px;
    font-size: 14px;
}

.top-creator-item > div:first-child{
    margin-bottom: 20px;
}

.top-creator-item p {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    line-height: 1.2;
}

.top-creator-item > div:first-child img{
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.top-creator-item > div:last-child {
    margin-top: 10px;
}
