* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-btn button {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    border: none;
    background-color: none;
    color: #6d6d6d;
    align-self: center;
}

.menu-btn button:hover {
    color: #000;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100%;
    align-self: center;
    font-weight: bold;
    font-size: 25px;
    color: #0077cc;
}

.logo span {
    padding: 0 10px;
}

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.create-login {
    display: flex;
}

.create-btn {
    display: flex;
    padding: 10px;
    color: #0077cc;
    font-weight: bold;
}

.login-btn,
.upgrade-btn,
.create-btn-icon span,
.create-btn span {
    padding: 10px;
}

.create-btn p {
    padding: 10px 0;
}

.upgrade-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ffbf00;
    color: #000;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.upgrade-btn button:hover {
    background-color: #ecb102;
}

.create-btn-icon {
    align-self: center;
}

.create-btn-icon i,
.login-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.create-btn-icon i:hover,
.login-btn button:hover {
    background-color: #016cb8;
}

.search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    max-width: 450px;
    width: 100%;
}

.search i {
    color: #6d6d6d;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.search input:focus {
    border-color: #0077cc;
    outline: none;
}
/*------------------------------------Body*/
.side-bar {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}

.home-btn,
.history-btn,
.blogs-btn {
    display: flex;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    color: #333;
}

.home-btn:hover,
.history-btn:hover,
.blogs-btn:hover {
    background-color: #f3f3f3;
}

.home-btn a,
.history-btn a,
.blogs-btn a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: #6d6d6d;
    font-size: 16px;
}

.home-btn i,
.history-btn i,
.blogs-btn i {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    align-self: center;
    color: #6d6d6d;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.custom-line {
    width: 85%;
    height: 2px;
    background-color: #afafaf;
    border-radius: 10px;
}

.filter p {
    color: #6d6d6d;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.filter {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.filter select {
    width: 95%;
    padding: 10px;
    color: #6d6d6d;
    border: 1px solid #6d6d6d;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    align-self: center;
}

.filter option {
    font-weight: bold;
    font-size: 12px;
}

.filter select:focus {
    border-color: #0077cc;
    outline: none;
}

.body-container {
    
}
